[Unit]
Description=Turine Hello World

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/local/bin/hello
StandardOutput=tty

[Install]
WantedBy=multi-user.target
