[Unit]
Description=Install phase
After=hello.service
Requires=hello.service
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/install.sh
StandardInput=tty
StandardOutput=tty
StandardError=tty

TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
